<h1>GAMESHARE.IT</h1>

<p>Barra di ricerca<p>
<%= form_tag :method => "post", id: "search" do %>
    <%= text_field_tag :search, params[:search], placeholder:"Search a game" %>
<% end %>

<p>Tabella!</p>
<table>
    <tr>
        <th>Header</th>
        <td>NonUnHeader</td>
    </tr>
    <tr>
        <th>AltroHeader</th>
        <td>AtroNonUnHeader</td>
    </tr>
</table>
